<div class="container">
  <p id ="notice"></p>
  <h4 class="text-dark bg-light w-25 text-center mb-y">登録情報編集</h4>
  
<div class="pl-3">

<%= form_with model: @customer , url: customers_mypage_path do |f| %>
  

  <div class="field">
    <div class="row ">
      <div class="col-sm-4">
      <%= f.label "氏名", class: "col-form-label" %>
      </div>
      
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :first_name, class:"form-control-sm" %>
      </div>

      <div class="col-sm-3">
      <%= f.text_field :last_name, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
      
      
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "フリガナ", class: "col-form-label" %>
      </div>
      
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :first_name_kana, class: 'form-control-sm ' %>
      </div>
      
      <div class="col-sm-3">
      <%= f.text_field :last_name_kana, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
    
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "郵便番号", class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :postal_code, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "住所", class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :address, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
     
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "電話番号", class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :telephone_number, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
  
   <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "メールアドレス" , class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :email,autofocus: true, autocomplete: "email", class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
  
  <div class="actions text-center">
      <%= f.submit "編集内容を保存", class:"btn btn-success" %>
      <%= link_to "退会する", new_customer_registration_path, class:"btn btn-danger ml-3" %>
  </div>

<% end %>
</div>

</div>
</div>
  
  