<div class="container">
  <p id ="notice"></p>
  <h4 class="text-dark bg-light w-25 text-center mb-y">登録情報編集</h4>
  
<div class="pl-3">

<%= form_with model: @customer, url: customer_registration_path do |f| %>
  

  <div class="field">
    <div class="row ">
      <div class="col-sm-4">
      <%= f.label "名前", class: "col-form-label" %>
      </div>
      
      <div class="col-sm-1">
      <%= f.label "(姓)"  %>
      </div>
      <div class="col-sm-3">
      <%= f.text_field :first_name, class: 'form-control-sm ' %>
      </div>
      
      <div class="col-sm-1">
      <%= f.label "(名)" %>
      </div>
      <div class="col-sm-3">
      <%= f.text_field :last_name, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
      
      
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "フリガナ", class: "col-form-label" %>
      </div>
      
      <div class="col-sm-1">
      <%= f.label "(セイ)" %>
      </div>
      <div class="col-sm-3">
      <%= f.text_field :first_name_kana, class: 'form-control-sm ' %>
      </div>
      <div class="col-sm-1">
      <%= f.label "(メイ)" %>
      </div>
      <div class="col-sm-3">
      <%= f.text_field :last_name_kana, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "メールアドレス" , class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :email,autofocus: true, autocomplete: "email", class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
    
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "郵便番号", class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :postal_code, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
  
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "住所", class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :address, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
     
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "電話番号", class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :telephone_number, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
  
  <div class="field">
      <div class="row">
      <div class="col-sm-4">
      <%= f.label "パスワード（6文字以上)", class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :password, class: 'form-control-sm ' %>
      </div>
      </div>
  </div>
    
  <div class="field">
    <div class="row">
      <div class="col-sm-4">
      <%= f.label "パスワード（確認用)", class: "col-form-label" %>
      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-3">
      <%= f.text_field :password, class: 'form-control-sm ' %>
      </div>
    </div>
  </div>
  

  <div class="actions text-center my-3">
     <%= f.submit "編集内容を保存", class:"btn btn-success" %>
  </div>
  
  <div class="actions my-3">
     <%= f.submit "編集内容を保存", class:"btn btn-success" %>
  </div>
  
   <div class="actions my-3">
     <%= f.submit "退会する", class:"btn btn-success" %>
  </div>
  
<% end %>
</div>

</div>
</div>
  
  