<li class="nav-item">
<%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link' %>
</li>
<div class="container">
   <p id ="notice"></p>
   
   <div class="col-sm-2 text-dark bg-light text-center mb-4 ml-5"><h4>商品編集</h4></div>
  <%= form_with model: @items do |f| %>
   <div class="row">
    
    
    <div class="col-6 col-sm-4 py-2">商品画像</div>
    <div class="col-6 col-sm-6 py-2"><%= f.file_field :image, accept: "image/*" %></div>
    
    <div class="col-6 col-sm-4 py-2">商品名</div>
    <div class="col-6 col-sm-6 py-2"> <%= f.text_field :name, class: 'form-control-sm '%></div>
    
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">商品説明</div>
    <div class="col-6 col-sm-6 py-2"><%= f.text_area :introduction, class: 'form-control-sm ' %></div>
    
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">税抜価格</div>
    <div class="col-6 col-sm-6 py-2"> <%= f.text_area :price, class: 'form-control-sm ' %>円</div>
  
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">販売ステータス</div>
    <div class="col-6 col-sm-6 py-2"></div>
  
   
  </div>
  
    

  </div>
  

    <div class="form-check">
      <input class="form-check-input" type="radio">
      <label class="form-check-label" for="flexRadioDefault1">
          Default radio
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="radio" checked>
      <label class="form-check-label" for="flexRadioDefault2">
          Default checked radio
      </label>
    </div>
    
    <div class="actions text-center">
      <%= f.submit "変更を保存", class:"btn btn-success" %>
    </div>
  <% end %>
   
  
</div>