<div class="container">
   <p id ="notice"></p>
   
   <div class="col-sm-2 text-dark bg-light text-center mb-4 ml-5">
     <h4>商品編集</h4>
   </div>
   
  <%= form_with model: @item, url: admin_item_path do |f| %>
   <div class="row">
    
    
    <div class="col-6 col-sm-4 py-2">商品画像</div>
    <div class="col-6 col-sm-6 py-2"><%= f.file_field :image, accept: "image/*" %></div>
    
    <div class="col-6 col-sm-4 py-2">商品名</div>
    <div class="col-6 col-sm-6 py-2"> <%= f.text_field :name, class: 'form-control-sm '%></div>
    
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">商品説明</div>
    <div class="col-6 col-sm-6 py-2"><%= f.text_area :introduction, class: 'form-control-sm ' %></div>
    
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">税抜価格</div>
    <div class="col-6 col-sm-6 py-2"> <%= f.text_area :price, class: 'form-control-sm ' %>円</div>
  
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">販売ステータス</div>
    
    <div class="form-check">
      <%= f.radio_button :is_active, true, class: "form-check-input" %>
      <%= f.label :is_active, "販売中", value: true, class: "form-check-label" %>
    </div>

    <div class="form-check">
      <%= f.radio_button :is_active, false, class: "form-check-input" %>
      <%= f.label :is_active, "販売停止中", value: false, class: "form-check-label" %>
    </div>
    
    
    <div class="actions text-center col-6 col-sm-4 py-2">
      <%= f.submit "変更を保存", class:"btn btn-success" %>
    </div>
  <% end %>
   
</div>