<div class="container">
  <p id ="notice"></p>
  
  <div class="col-sm-2 text-dark bg-light text-center mb-4 ml-5"><h4>商品詳細</h4></div>
  
   <div class="row">
     
    <div class="col-6 col-sm-6 py-2"><%= image_tag @item.image, size: '300x200' %></div>
    
   
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">商品名</div>
    <div class="col-6 col-sm-6 py-2"><%= @item.name %></div>
    
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">商品説明</div>
    <div class="col-6 col-sm-6 py-2"><%= @item.introduction %></div>
    
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">税込価格(税抜価格)</div>
    <div class="col-6 col-sm-6 py-2"><%= (@item.price*1.10).floor %>
    (<%= @item.price %>)円</div>
  
    <div class="w-75"></div>
    <div class="col-6 col-sm-4 py-2">販売ステータス</div>
    <div class="col-6 col-sm-6 py-2"><% if @item.is_active == true %>
                                     販売中
                                     <% else %>
                                     販売停止中
                                     <% end %>
  
    <div class="actions text-center">
      <%= link_to  "編集する",  edit_admin_item_path(@item[:id]), class:"btn btn-success"  %>
    </div>
  
  </div>
    
  
</div>