<div class="container">
  <p id ="notice"></p>
  
    <div class="row mb-3">
    <div class=" w-25 text-dark bg-light text-center"><h4>ショッピングカート</h4></div>
    <div class="col"></div>
    <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %>
    </div>
    
    
    <table class="table">
      <thead class="bg-light border border-dark">
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価(税込)</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th scope="3"></th>
        </tr>
         <% total = 0 %>
      </thead>
    
      <tbody>
         <% if current_customer.cart_items.present? %>
          <% @cart_items.each do |cart_item| %> 
          <tr>
            <td class="border border-dark"><%= image_tag(cart_item.item.image, size: "60x50", fallback: "no_image.jpg") %> 
                <%= cart_item.item.name %></td>
                
            <td class="border border-dark"><%= cart_item.item.with_tax_price%></td>
            
            <td class="border border-dark"><%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
                 <%= f.number_field :amount, min: 1, max:10, id: "amount_cart"%>
                 <%= f.submit "変更",class: "btn btn-success" %> 
                <% end %></td>
            <td class="border border-dark"><%= cart_item.subtotal%></td>
                <% total += cart_item.subtotal %>
            <td class="border border-dark"><%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete, class: "btn btn-danger" %></td>
          </tr>
          
         <% end %>
        <% end %>
      </tbody>
    </table>
    
    <div class="row g-0 ">
      <div class="col-sm-6 col-md-8"></div>
      <div class="col-6 col-md-2 py-2 bg-light border border-dark">合計金額</div>
      <div class="col-6 col-md-2 border border-dark"><%= total %></div>
    </div>
     
    <div class="row mb-3 ml-2">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    </div>
     
    <div class="text-center">
      <%= link_to "情報入力に進む", new_order_path,  class: "btn btn-success" %>
    </div>
  
</div>
