<div class="container">
  <p id ="notice"></p>
  
    <div class="row mb-3">
    <div class=" w-25 text-dark bg-light text-center"><h4>ショッピングカート</h4></div>
    <div class="col"></div>
    <%= link_to "カートを空にする", destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %>
    </div>
    
    
    <table class="table">
      <thead class="bg-light border">
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価(税込)</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th colspan="3"></th>
        </tr>
         <% total = 0 %>
      </thead>
    
      <tbody>
         <% if current_customer.cart_items.present? %>
          <% @cart_items.each do |cart_item| %> 
          <tr>
            <td><%= image_tag(cart_item.item.image, size: "60x50", fallback: "no_image.jpg") %> 
                <%= cart_item.item.name %></td>
                
            <td><%= cart_item.item.with_tax_price%></td>
            
            <td><%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
                 <%= f.number_field :amount, min: 1, max:10, id: "amount_cart"%>
                 <%= f.submit "変更",class: "btn btn-success" %> 
                <% end %></td>
            <td><%= cart_item.subtotal%></td>
                <% total += cart_item.subtotal %>
            <td><%= link_to "削除する", cart_item_path(cart_item.id, cart_item), method: :delete, class: "btn btn-danger" %></td>
          </tr>
          
         <% end %>
        <% end %>
      </tbody>
    </table>
    
    <%= total %>
    <div class="row mb-3 ml-2">
      <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
      
    </div>
     
    <div class="text-center">
      <%= link_to "情報入力に進む", new_order_path,  class: "btn btn-success" %>
    </div>
  
</div>
