<div class="container">
  <p id ="notice"></p>
    <h4 class="text-dark bg-light w-25 text-center mb-y">注文情報入力</h4>
    
    <table class="table">
      <thead class="bg-light border">
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価(税込)</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
     
    
      <tbody>
        
          <tr>
            <td><%= @item.name %></td>
            <td></td>
            <td></td>
            <td><%= @order.invoice_amount %></td>
            <td></td>
          </tr>
        <%= form_with model:[@item, @order], url:(orders_path) do |f| %>
          <%= f.hidden_field :amount %>
          <%= f.hidden_field :quantity %>
          <%= f.submit %>
        <% end %>
      </tbody>
      
    </table>


    <h5>支払方法</h5>
    

    <h5>お届け先</h5>

   
</div>