<div class="container">
  <p id ="notice"></p>
    <h4 class="text-dark bg-light w-25 text-center mb-y">注文情報入力</h4>
    
  <div class="row">
    
    <table class="table">
      <thead class="bg-light border">
        <tr>
          <th scope="col">商品名</th>
          <th scope="col">単価(税込)</th>
          <th scope="col">数量</th>
          <th scope="col">小計</th>
          <th colspan="3"></th>
        </tr>
      </thead>
    
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag(cart_item.item.image, size: "60x50") %>
                <%= cart_item.item.name %></td>
            <td><%= (cart_item.item.price * 1.1).floor %></td>
            <td><%= cart_item.amount %></td>
            <td><%= ((cart_item.item.price * 1.1).floor) * cart_item.amount %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    

    <div class="col-6 col-sm-4 bg-light border py-2">送料</div>
    <div class="col-6 col-sm-6 border py-2"><%= 800 %></div>
    
    
    <div class="col-6 col-sm-4 bg-light border py-2">商品合計</div>
    <div class="col-6 col-sm-6 border py-2"><%= @total %></div>
    
    
    <div class="col-6 col-sm-4 bg-light border py-2">請求金額</div>
    <div class="col-6 col-sm-6 border py-2"><%= @total  + 800 %></div>
      
    
  </div>

    <div class="mt-2"><h5>支払方法</h5></div>
      <% if @order.payment_methods == 0 %>
        クレジットカード
      <% else %>
       　銀行振込
      <% end %>
       
    <div class="mt-2"><h5 class="mt-2">お届け先</h5></div>
      <%= @order.gip_code %><%= @order.address %><%= @order.address_name %>
      
     <%= form_with(model: @order, url: orders_path, method: :post, local: true)do |f| %>
          <%= f.hidden_field :gip_code, :value => @order.gip_code %>
          <%= f.submit "注文を確定する" %>
      <% end %>
</div>