<div class="container">
  <p id ="notice"></p>
    <h4 class="text-dark bg-light w-25 text-center mb-y ml-3">注文履歴詳細</h4>
    
   
    
  <div class="row">
    
    <%= @order.each do |order| %>
    
    <div class="col-sm-2 mt-3">注文情報</div>
    <div class="col-sm-5"></div>
    <div class="col-sm-4  mt-3">請求情報</div>
    <div class="w-100 mt-2"></div>
    
    <div class="col-sm-2 bg-light border py-2">注文日</div>
    <div class="col-sm-5 border py-2 mr-2"><%= order.created_at%></div>
    
    
   
    <div class="col-sm-2 bg-light border py-2">商品合計</div>
    <div class="col-sm-2 border py-2"><%= order.invoice_amount %></div>
    
    <div class="w-100"></div>
    <div class="col-sm-2 bg-light border py-2">配送先</div>
    <div class="col-sm-5 border py-2 mr-2">
      <%= order.gip_code %></br>
      <%= order.address %></br>
      <%= order.address_name %>
      </div>
    
    <div class="col-sm-2 bg-light border py-2">配送料</div>
    <div class="col-sm-2 border py-2"><%= order.postage %></div>
    
    <div class="w-100"></div>
    <div class="col-sm-2 bg-light border py-2">支払方法</div>
    <div class="col-sm-5 border py-2 mr-2">
      
      <% if order.payment_methods == 0 %>
       クレジットカード
      <% else %>
       銀行振込
      <% end %>
      
      
    </div>
    
    <div class="col-sm-2 bg-light border py-2">ご請求金額</div>
    <div class="col-sm-2 border py-2"><%= order.invoice_amount + order.postage %></div>
  </div>
    
    
    
  <div class="row">
    <div class="col-sm-2 mt-3">注文内容</div>
    
    <div class="w-100 mt-2"></div>
           <table class="table">
              <thead class="bg-light border">
                <tr>
                  <th scope="col">商品</th>
                  <th scope="col">単価(税込)</th>
                  <th scope="col">個数</th>
                  <th scope="col">小計</th>
                </tr>
              </thead>
    
          <tbody>
            
                <tr>
                  
                  <td><% order.order_details.each do |order_detail| %>
                         <%= order_detail.item.name %></br>
                      <% end %>
                  </td>
                  <td><% order.order_details.each do |order_detail| %>
                         <%= order_detail.item.price %>
                      <% end %>
                      </td>
                  <td><% order.order_details.each do |order_detail| %>
                         <%= order_detail.amount %>
                      <% end %></td>
                  <td><%= order.invoice_amount + order.postage %></td>
                  
                </tr>
           
          </tbody>
   <% end %>
  </div>
    
    
</div>