<div class="container">
  
      <p id ="notice"></p>
       <div class=" col-sm-2 text-dark bg-light text-center mb-4"><h5>ログイン</h5></div>
      


<h5 class="col-sm-5 text-dark bg-light mb-4 px-3">会員の方はこちらからログイン</h5>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="pl-4">

<div class="field">
    <div class="row my-3">
      <div class="col-sm-4">
        <%= f.label "メールアドレス" , class: "col-form-label" %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :email, autofocus: true, autocomplete: "email", class: 'form-control ' %>
      </div>
    </div>
</div>
        
<div class="field">
    <div class="row my-3">
      <div class="col-sm-4">
        <%= f.label "パスワード", class: "col-form-label" %>
      </div>
      <div class="col-sm-6">
        <%= f.text_field :password, class: "form-control" %>
      </div>
    </div>
</div>
 

  <div class="actions m-5 text-center">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
  </div>
<% end %>

</div>

<h5 class="text-dark bg-light mt-2 w-50 mb-4 px-3">会員登録がお済でない方</h5>

<div class="pl-4">
<%= render "public/shared/links" %>からログインしてください
</div>
  
</div>