<div class="container">
  <p id ="notice"></p>
  
  
    <div class="row">
      <div class="col">
        <%= image_tag @item.image, size: '300x200' %>
      </div>
    
      <div class="col">
        
          
      <% if @item.is_active == true %>　#商品販売中の場合
        <%= form_with(model: @cart_item,url: cart_items_path, method: :post,local: true)do |f| %>
        
          <h2 class="mb-2"><%= @item.name %></h2>
          <h4 class="mb-5"><%= @item.introduction %></h4>
          <h4 class="mb-3">￥<%= (@item.price*1.10).floor %>(税込)</h4>
          　
  
            <%= f.label :amount, "個数選択" %>
            <%= f.select :amount, [1,2,3,4,5,6,7,8,9,10] %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる", class:"btn btn-success mx-3" %>
        
          <% end %>
      <% end %>
      </div>
   </div>
</div>