<div class="container">
  <p id ="notice"></p>
  
  
    <div class="row">
      <div class="col">    
        
      <%= form_with model: @item, url: admin_item_path do |f| %>
        
        <%= image_tag @item.image, size: '300x200' %>
        <h2><%= @item.name %></h2>
        <h3><%= @item.price %></h3>
        
        <%= f.select :amount, [['1',1], ['2',2], ['3',3]] %>
        
      <% end %>
      </div> 
    </div> 
   
  
</div>